#primary-navbar {
  padding-block: 20px;

  div {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  /* CSS Nesting */

  div:nth-child(2) {
    margin-inline: auto;
  }

  div:nth-child(3){
    justify-self: end;
  }
}

#secondary-navbar {
  padding-block: 14px;
  border: solid 1px var(--stroke-color);
  border-inline: none;
}